/**
 * RRZE Slide Style
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #003366;
$headingColor: #003366;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Arial, sans-serif;
$headingFont: 'Source Sans Pro', Arial, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #272822; // #2a76dd;
$linkColorHover: darken( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
      background: 
	url(../../lib/img/fau-logo.png) 50px calc(100% - 25px) no-repeat, 
	url(../../lib/img/rrze-logo.png) 250px calc(100% - 20px) no-repeat, 
	url(../../lib/img/background-rrze-slides.png) 20px calc(100% + 755px) repeat-x, 
	linear-gradient(to bottom, white 0%, white calc(100% - 90px), #003366 calc(100% - 90px), #003366);
      
   
    .slides {
	padding-bottom: 80px;
	
    }
    
    h1, h2, h3, p {
//	color: #003366;
    }
    .slide-number  {
	right: 40px;
	bottom: 24px;
	font-size: 24px;
	font-family: Arial, sans-serif;
	font-weight: 200;
	opacity: 0.9;
	background: transparent;
    }
    
    section  {
	a:hover, a:focus {
	    text-decoration: underline;
	    text-decoration-color: #EA215A;
	    text-decoration-thickness: .125em;
	    text-underline-offset: 1.5px;
	}
    }
    .controls {
	bottom: 100px;
	right: 40px;
    }
}

 #header-left {
        position: absolute;
        top: 0%;
        left: 0%;
}
#header-right {
    position: absolute;
    top: 0%;
    right: 0%;
}
    
#footer-name{
    position: absolute;
    bottom: 29px;
    left: 420px;
    color: #fff;
    	font-size: 24px;
	font-weight: 200;
	font-family: Arial, sans-serif;
	opacity: 0.9;
	background: transparent;
}